<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.virussafeagro">
    <!-- connect Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- camera  + external storage permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- location permission for map -->
    <!-- 2 providers' permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- only location permission by network -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--
         The API key for Google Maps-based APIs is defined as a string resource.
         (See the file "res/values/google_maps_api.xml").
         Note that the API key is linked to the encryption key used to sign the APK.
         You need a different API key for each encryption key, including the release key that is used to
         sign the APK for publishing.
         You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- LaunchActivity -->
        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" /> <!-- PasswordActivity -->
        <activity
            android:name=".PasswordActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- OnBoardingActivity -->
        <activity
            android:name=".OnBoardingActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- QuizActivity -->
        <activity
            android:name=".QuizActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizStartActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetectActivity"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter android:label="@string/filter_title_item">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="news.ycombinator.com"
                    android:pathPrefix="/user"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GalleryActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageViewActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>